<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Propeller_Admin_Dashboard">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">

    <title>Hardy Hat - Dashboard</title>
    <link rel="shortcut icon" href="~/images/ico/fv.jpg">

    <!-- Google icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

    <!-- Propeller css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/propeller.min.css">

    <!-- DataTables css-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
    <!-- Propeller dataTables css-->
    <link rel="stylesheet" type="text/css" href="/components/data-table/css/pmd-datatable.css">

    <!-- Propeller date time picker css-->
    <link rel="stylesheet" type="text/css" href="/components/datetimepicker/css/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="/components/datetimepicker/css/pmd-datetimepicker.css" />

    <!-- Propeller theme css-->
    <link rel="stylesheet" type="text/css" href="/themes/css/propeller-theme.css" />

    <!-- Propeller admin theme css-->
    <link rel="stylesheet" type="text/css" href="/themes/css/propeller-admin.css">
    <!-- Select2 css-->
    <link rel="stylesheet" type="text/css" href="/components/select2/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="/components/select2/css/select2-bootstrap.css" />
    <!-- Propeller select2 css-->
    <link rel="stylesheet" type="text/css" href="/components/select2/css/pmd-select2.css" />
    <link href="~/assets/css/adminstyle.css" rel="stylesheet" />
    @* <script src="/assets/js/jquery-1.12.2.min.js"></script>*@

    <script src="~/Scripts/jqeury2.0.3.min.js"></script>
</head>

<!-- Styles Ends -->

<body class="setting">
    <!-- Header Starts -->
    <!--Start Nav bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth">

        <div class="container-fluid">
            <div class="pmd-navbar-right-icon pull-right navigation">
                <!-- Notifications -->
                <div class="dropdown notification icons pmd-dropdown">

                    <a href="javascript:void(0)" title="Notification" class="dropdown-toggle pmd-ripple-effect" data-toggle="dropdown" role="button" aria-expanded="true">
                        <div class="material-icons md-light pmd-sm pmd-badge  pmd-badge-overlap">
                            <div class="media-right media-middle">
                                <i class="material-icons md-dark pmd-md">settings</i>
                            </div>
                        </div>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right pmd-card pmd-card-default pmd-z-depth" role="menu">
                        <!-- Card header -->
                        <!-- Notifications list -->
                        <ul class="list-group pmd-list-avatar pmd-card-list">
                            <li class="list-group-item unread">
                                <a href="javascript:void(0)">Edit Profile</a>
                            </li>
                            <li class="list-group-item unread">
                                <a href="/User/Login/Login">Log Out</a>
                            </li>
                        </ul>
                        <!-- End notifications list -->

                    </div>


                </div>
                <!-- End notifications -->
            </div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle"><i class="material-icons">menu</i></a>
                <a href="/dashboard/admin" class="navbar-brand">
                    <img src="~/images/logo.png" />
                </a>
            </div>
        </div>

    </nav>
    <!--End Nav bar -->
    <!-- Header Ends -->
    <!-- Sidebar Starts -->
    <div class="pmd-sidebar-overlay"></div>

    <!-- Left sidebar -->
    <aside class="pmd-sidebar sidebar-default pmd-sidebar-slide-push pmd-sidebar-left pmd-sidebar-open bg-fill-darkblue sidebar-with-icons" role="navigation">
        <ul class="nav pmd-sidebar-nav">

            <!-- User info -->
            <li class="dropdown pmd-dropdown pmd-user-info visible-xs visible-md visible-sm visible-lg">
                <a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media" data-sidebar="true" aria-expandedhref="javascript:void(0);">
                    <div class="media-left">
                        <img src="/themes/images/user-icon.png" alt="New User">
                    </div>
                    <div class="media-body media-middle">@LaboUSER.Areas.user.clsSession.UserName</div>
                    <div class="media-right media-middle"><i class="dic-more-vert dic"></i></div>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/User/Login/Login">Logout</a></li>
                </ul>
            </li>
            <!-- End user info -->

            <li>
                <a class="pmd-ripple-effect" href="index.html">
                    <i class="media-left media-middle">
                        <svg version="1.1" x="0px" y="0px" width="19.83px" height="18px" viewBox="287.725 407.535 19.83 18" enable-background="new 287.725 407.535 19.83 18"
                             xml:space="preserve">
                        <g>
                        <path fill="#C9C8C8" d="M307.555,407.535h-9.108v10.264h9.108V407.535z M287.725,407.535v6.232h9.109v-6.232H287.725z
		 M296.834,415.271h-9.109v10.264h9.109V415.271z M307.555,419.303h-9.108v6.232h9.108V419.303z" />
                            </g>
                        </svg>
                    </i>
                    <span class="media-body">Dashboard</span>
                </a>
            </li>
            @if (LaboUSER.Areas.user.clsSession.RoleName == "Admin")
            {
                <li class="dropdown pmd-dropdown">
                    <a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media" data-sidebar="true" href="javascript:void(0);">
                        <i class="media-left media-middle">
                            <svg version="1.1" id="Layer_1" x="0px" y="0px" width="30px" height="20px" viewBox="272.11 405.017 36 20.564" enable-background="new 272.11 405.017 36 20.564" xml:space="preserve">
                            <g>
                            <g>
                            <g>
                            <g>
                            <path fill="#FFFFFF" d="M305.769,416.267c2.792,0.82,2.314,2.847,2.306,4.206h-6.967c-0.25-0.823-0.869-1.591-2.347-2.023
													l-0.467-0.139c-1.955-0.569-3.002-0.876-3.275-1.492c-0.067-0.222-0.047-0.469,0.605-0.705c2.095-0.61,3.157-0.929,3.408-1.714
													h0.132c-0.036-0.032-0.07-0.063-0.103-0.1c-1.036-0.998-1.826-2.946-1.826-4.519c0-2.225,1.702-3.687,3.314-3.687
													c1.609,0,3.231,1.579,3.231,3.806c0,1.574-0.881,3.46-1.963,4.424C302.042,415.232,303.256,415.529,305.769,416.267z">
                                                </path>
                                            </g>
                            <g>
                            <g>
                            <path fill="#FFFFFF" d="M300.958,425.581h-21.639c-0.013-0.216-0.027-0.432-0.053-0.688c-0.067-0.855-0.133-1.735,0.106-2.54
														c0.292-0.943,1.049-1.773,2.804-2.284l0.678-0.216c3.083-0.88,4.731-1.377,5.277-2.539l0.172-0.292l-0.013-0.37
														c-0.04-0.026-0.066-0.051-0.119-0.115c-0.187-0.191-0.373-0.382-0.546-0.611c-1.196-1.519-2.046-3.867-2.046-5.805
														c0-2.477,1.834-5.104,4.572-5.104c2.141,0,4.441,2.118,4.441,5.282c0,2.016-1.05,4.516-2.486,5.983
														c-0.093,0.104-0.199,0.191-0.293,0.281l-0.172,0.154l0.054,0.229c0.372,1.453,2.046,1.951,5.409,2.908l0.691,0.216
														c1.741,0.511,2.565,1.354,2.925,2.284h0.014c0.332,0.907,0.291,1.891,0.251,2.808
														C300.972,425.301,300.972,425.454,300.958,425.581z">
                                                    </path>
                                                </g>
                                            </g>
                            <g>
                            <path fill="#FFFFFF" d="M274.452,416.267c-2.795,0.82-2.313,2.847-2.306,4.206h6.964c0.252-0.823,0.869-1.591,2.349-2.023
													l0.466-0.139c1.957-0.569,3.004-0.876,3.276-1.492c-0.074-0.245,0.061-0.612-0.606-0.705c-2.094-0.61-3.156-0.929-3.406-1.714
													h-0.131c0.035-0.032,0.071-0.063,0.102-0.1c1.036-0.998,1.827-2.946,1.827-4.519c0-2.225-1.702-3.687-3.313-3.687
													c-1.612,0-3.231,1.579-3.231,3.806c0,1.574,0.876,3.46,1.957,4.424C278.177,415.232,276.961,415.529,274.452,416.267z">
                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </i>
                        <span class="media-body">Users </span>
                        <div class="media-right media-bottom"><i class="dic-more-vert dic"></i></div>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/User/clientlist/index">Client List</a></li>
                        <li><a href="/User/employeelist/index">Employee List</a></li>
                    </ul>
                </li>
            }
            @if (LaboUSER.Areas.user.clsSession.RoleName == "Admin" || LaboUSER.Areas.user.clsSession.RoleName == "Client")
            {
                <li class="dropdown pmd-dropdown">
                    <a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media" data-sidebar="true" href="javascript:void(0);">
                        <i class="media-left media-middle">
                            <svg version="1.1" id="Layer_11" x="0px" y="0px" width="30px" height="20px" viewBox="272.11 405.017 36 20.564" enable-background="new 272.11 405.017 36 20.564" xml:space="preserve">
                            <g>
                            <g>
                            <g>
                            <g>
                            <path fill="#FFFFFF" d="M305.769,416.267c2.792,0.82,2.314,2.847,2.306,4.206h-6.967c-0.25-0.823-0.869-1.591-2.347-2.023
													l-0.467-0.139c-1.955-0.569-3.002-0.876-3.275-1.492c-0.067-0.222-0.047-0.469,0.605-0.705c2.095-0.61,3.157-0.929,3.408-1.714
													h0.132c-0.036-0.032-0.07-0.063-0.103-0.1c-1.036-0.998-1.826-2.946-1.826-4.519c0-2.225,1.702-3.687,3.314-3.687
													c1.609,0,3.231,1.579,3.231,3.806c0,1.574-0.881,3.46-1.963,4.424C302.042,415.232,303.256,415.529,305.769,416.267z">
                                                </path>
                                            </g>
                            <g>
                            <g>
                            <path fill="#FFFFFF" d="M300.958,425.581h-21.639c-0.013-0.216-0.027-0.432-0.053-0.688c-0.067-0.855-0.133-1.735,0.106-2.54
														c0.292-0.943,1.049-1.773,2.804-2.284l0.678-0.216c3.083-0.88,4.731-1.377,5.277-2.539l0.172-0.292l-0.013-0.37
														c-0.04-0.026-0.066-0.051-0.119-0.115c-0.187-0.191-0.373-0.382-0.546-0.611c-1.196-1.519-2.046-3.867-2.046-5.805
														c0-2.477,1.834-5.104,4.572-5.104c2.141,0,4.441,2.118,4.441,5.282c0,2.016-1.05,4.516-2.486,5.983
														c-0.093,0.104-0.199,0.191-0.293,0.281l-0.172,0.154l0.054,0.229c0.372,1.453,2.046,1.951,5.409,2.908l0.691,0.216
														c1.741,0.511,2.565,1.354,2.925,2.284h0.014c0.332,0.907,0.291,1.891,0.251,2.808
														C300.972,425.301,300.972,425.454,300.958,425.581z">
                                                    </path>
                                                </g>
                                            </g>
                            <g>
                            <path fill="#FFFFFF" d="M274.452,416.267c-2.795,0.82-2.313,2.847-2.306,4.206h6.964c0.252-0.823,0.869-1.591,2.349-2.023
													l0.466-0.139c1.957-0.569,3.004-0.876,3.276-1.492c-0.074-0.245,0.061-0.612-0.606-0.705c-2.094-0.61-3.156-0.929-3.406-1.714
													h-0.131c0.035-0.032,0.071-0.063,0.102-0.1c1.036-0.998,1.827-2.946,1.827-4.519c0-2.225-1.702-3.687-3.313-3.687
													c-1.612,0-3.231,1.579-3.231,3.806c0,1.574,0.876,3.46,1.957,4.424C278.177,415.232,276.961,415.529,274.452,416.267z">
                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </i>
                        <span class="media-body">Jobs </span>
                        <div class="media-right media-bottom"><i class="dic-more-vert dic"></i></div>
                    </a>
                    <ul class="dropdown-menu">

                        @if (LaboUSER.Areas.user.clsSession.RoleName == "Admin")
                        {
                            <li><a href="/User/job/myjobs">All Jobs</a></li>
                        }
                        else
                        {
                            <li><a href="/User/job/myjobs">My Jobs</a></li>
                            <li><a href="/User/employeejob/clientjobproposal">Job Proposal</a></li>
                        }


                        @if (LaboUSER.Areas.user.clsSession.RoleName == "Client")
                        {
                            <li><a href="/User/job/createjob">Create New Job</a></li>

                        }
                    </ul>
                </li>
            }
            @if (LaboUSER.Areas.user.clsSession.RoleName == "Employee")
            {
                <li>
                    <a class="pmd-ripple-effect" href="/User/employeejob/findwork">
                        <i class="media-left media-middle">
                            <svg version="1.1" x="0px" y="0px" width="19.83px" height="18px" viewBox="287.725 407.535 19.83 18" enable-background="new 287.725 407.535 19.83 18"
                                 xml:space="preserve">
                            <g>
                            <path fill="#C9C8C8" d="M307.555,407.535h-9.108v10.264h9.108V407.535z M287.725,407.535v6.232h9.109v-6.232H287.725z
		 M296.834,415.271h-9.109v10.264h9.109V415.271z M307.555,419.303h-9.108v6.232h9.108V419.303z" />
                                </g>
                            </svg>
                        </i>
                        <span class="media-body">Find Work</span>
                    </a>
                </li>
                <li>
                    <a class="pmd-ripple-effect" href="/User/employeejob/jobproposals">
                        <i class="media-left media-middle">
                            <svg version="1.1" x="0px" y="0px" width="19.83px" height="18px" viewBox="287.725 407.535 19.83 18" enable-background="new 287.725 407.535 19.83 18"
                                 xml:space="preserve">
                            <g>
                            <path fill="#C9C8C8" d="M307.555,407.535h-9.108v10.264h9.108V407.535z M287.725,407.535v6.232h9.109v-6.232H287.725z
		 M296.834,415.271h-9.109v10.264h9.109V415.271z M307.555,419.303h-9.108v6.232h9.108V419.303z" />
                                </g>
                            </svg>
                        </i>
                        <span class="media-body">My Job Proposals</span>
                    </a>
                </li>
                <li>
                    <a class="pmd-ripple-effect" href="/User/employeejob/jobrequested">
                        <i class="media-left media-middle">
                            <svg version="1.1" x="0px" y="0px" width="19.83px" height="18px" viewBox="287.725 407.535 19.83 18" enable-background="new 287.725 407.535 19.83 18"
                                 xml:space="preserve">
                            <g>
                            <path fill="#C9C8C8" d="M307.555,407.535h-9.108v10.264h9.108V407.535z M287.725,407.535v6.232h9.109v-6.232H287.725z
		 M296.834,415.271h-9.109v10.264h9.109V415.271z M307.555,419.303h-9.108v6.232h9.108V419.303z" />
                                </g>
                            </svg>
                        </i>
                        <span class="media-body">My Job Requested</span>
                    </a>
                </li>
            }
            @if (LaboUSER.Areas.user.clsSession.RoleName == "Admin")
            {
                <li>
                    <a class="pmd-ripple-effect" href="/User/adminsetting/index">
                        <i class="media-left media-middle">
                            <svg version="1.1" x="0px" y="0px" width="19.83px" height="18px" viewBox="287.725 407.535 19.83 18" enable-background="new 287.725 407.535 19.83 18"
                                 xml:space="preserve">
                            <g>
                            <path fill="#C9C8C8" d="M307.555,407.535h-9.108v10.264h9.108V407.535z M287.725,407.535v6.232h9.109v-6.232H287.725z
		 M296.834,415.271h-9.109v10.264h9.109V415.271z M307.555,419.303h-9.108v6.232h9.108V419.303z" />
                                </g>
                            </svg>
                        </i>
                        <span class="media-body">Setting</span>
                    </a>
                </li>
                <li>
                    <a class="pmd-ripple-effect" href="/User/contactus/">
                        <i class="media-left media-middle">
                            <svg version="1.1" x="0px" y="0px" width="19.83px" height="18px" viewBox="287.725 407.535 19.83 18" enable-background="new 287.725 407.535 19.83 18"
                                 xml:space="preserve">
                            <g>
                            <path fill="#C9C8C8" d="M307.555,407.535h-9.108v10.264h9.108V407.535z M287.725,407.535v6.232h9.109v-6.232H287.725z
		 M296.834,415.271h-9.109v10.264h9.109V415.271z M307.555,419.303h-9.108v6.232h9.108V419.303z" />
                                </g>
                            </svg>
                        </i>
                        <span class="media-body">Contact Us</span>
                    </a>
                </li>
            }
        </ul>
    </aside>
    <!-- End Left sidebar -->
    <!-- Sidebar Ends -->
    <!--content area start-->
    <div id="content" class="pmd-content content-area dashboard">
        <!-- Display a success alert at the top-right position of the window -->
        <button type="button" data-positionx="right" data-positiony="top" data-effect="fadeInUp" data-message="" data-type="success" class="hide btn pmd-ripple-effect btn-success pmd-z-depth pmd-alert-toggle">Alert Success</button>

        <!-- Display an error alert at the top-right position of the window -->
        <button type="button" data-positionx="right" data-positiony="top" data-effect="fadeInUp" data-message="" data-type="error" class=" hide btn pmd-ripple-effect btn-danger pmd-z-depth pmd-alert-toggle">Alert Error</button>
        @RenderBody()
    </div>
    <!--end content area-->
    <!-- Footer Starts -->
    <!--footer start-->
    <footer class="admin-footer">
        <div class="container-fluid">
            <ul class="list-unstyled list-inline">
                <li>
                    <span class="pmd-card-subtitle-text">Hardy Hat &copy; 2017. All Rights Reserved.</span>
                    @*<h3 class="pmd-card-subtitle-text">Licensed under <a href="https://opensource.org/licenses/MIT" target="_blank">MIT license.</a></h3>*@
                </li>
            </ul>
        </div>
    </footer>
    <!--footer end-->
    <!-- Footer Ends -->
    <!-- Scripts Starts -->

    <script src="/assets/js/bootstrap.min.js"></script>
    @*<script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="/components/select2/js/select2.full.js"></script>


    <script>
        function alert_message(msg, type) {
            if (type == "success") {
                $('.btn-success').attr('data-message', msg);
                $('.btn-success').click();
            }
            else if (type = "fail") {
                $('.btn-danger').attr('data-message', msg);
                $('.btn-danger').click();
            }
        }
        $(document).ready(function () {
            var sPath = window.location.pathname;
            var sPage = sPath.substring(sPath.lastIndexOf('/') + 1);
            $(".pmd-sidebar-nav").each(function () {
                $(this).find("a[href='" + sPage + "']").parents(".dropdown").addClass("open");
                $(this).find("a[href='" + sPage + "']").parents(".dropdown").find('.dropdown-menu').css("display", "block");
                $(this).find("a[href='" + sPage + "']").parents(".dropdown").find('a.dropdown-toggle').addClass("active");
                $(this).find("a[href='" + sPage + "']").addClass("active");
            });
        });
    </script>
    <script type="text/javascript">
        (function () {
            "use strict";
            var toggles = document.querySelectorAll(".c-hamburger");
            for (var i = toggles.length - 1; i >= 0; i--) {
                var toggle = toggles[i];
                toggleHandler(toggle);
            };
            function toggleHandler(toggle) {
                toggle.addEventListener("click", function (e) {
                    e.preventDefault();
                    (this.classList.contains("is-active") === true) ? this.classList.remove("is-active") : this.classList.add("is-active");
                });
            }

        })();
    </script>

    <script src="/assets/js/propeller.min.js"></script>

    <!-- Javascript for Datepicker -->
    <script type="text/javascript" language="javascript" src="/components/datetimepicker/js/moment-with-locales.js"></script>
    <script type="text/javascript" language="javascript" src="/components/datetimepicker/js/bootstrap-datetimepicker.js"></script>

    <!-- Datatable js -->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <!-- Datatable Bootstrap -->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

    <!-- Datatable responsive js-->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>

    <!-- Datatable select js-->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>

    <!-- Propeller Data table js-->

    <script>

        $(document).ready(function () {

            $('#tblDatatable').DataTable({
                responsive: false,
                order: [1, 'asc'],
                bFilter: true,
                bLengthChange: true,
                pagingType: "simple",
                "paging": true,
                "searching": true,
                "language": {
                    "info": " _START_ - _END_ of _TOTAL_ ",
                    "sLengthMenu": "<span class='custom-select-title'>Rows per page:</span> <span class='custom-select'> _MENU_ </span>",
                    "sSearch": "",
                    "sSearchPlaceholder": "Search",
                    "paginate": {
                        "sNext": " ",
                        "sPrevious": " "
                    },
                },
                dom:
                    "<'pmd-card-title'<'data-table-title'><'search-paper pmd-textfield'f>>" +
                    "<'custom-select-info'<'custom-select-item'><'custom-select-action'>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'pmd-card-footer' <'pmd-datatable-pagination' l i p>>",
            });
            $('.custom-select-info').hide();

        });

        // Linked date and time picker
        // start date date and time picker
        $('#datepicker-default').datetimepicker();

        //for tab

        $(document).ready(function () {

            $('.pmd-tabs').pmdTab();

            var sPath = window.location.pathname;
            var sPage = sPath.substring(sPath.lastIndexOf('/') + 1);
            $(".pmd-sidebar-nav").each(function () {
                $(this).find("a[href='" + sPage + "']").parents(".dropdown").addClass("open");
                $(this).find("a[href='" + sPage + "']").parents(".dropdown").find('.dropdown-menu').css("display", "block");
                $(this).find("a[href='" + sPage + "']").parents(".dropdown").find('a.dropdown-toggle').addClass("active");
                $(this).find("a[href='" + sPage + "']").addClass("active");
            });
        });


    </script>

</body>
</html>
