@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <section id="title" class="emerald">
     <div class="container">
         <div class="row">
             <div class="col-sm-6">
                 <h1>Terms of Use</h1>
             </div>
             <div class="col-sm-6">
                 <ul class="breadcrumb pull-right">
                     <li><a href="/">Home</a></li>
                     <li class="active">Terms of Use</li>
                 </ul>
             </div>
         </div>
     </div>
 </section>
<!--/#title-->

<section id="terms" class="container">
    <h3>Introduction</h3>
    <p>Terms & conditions and privacy policy are icorporated into these uses . Hereby user agree to the term when getting access to our site.</p>
    <p>Inorder to use our services user has to register by creating an account in our website. User must remember the information provided to the website, fellow user should make sure that the email id provided belongs to the same person. Therfore user should keep their password safe and secure. </p>

    <p>&nbsp;</p>

    <h3>Terms For Employers:-(Person Looking To Hire)</h3>
    <p>HardyHat is not responsible for any job posting done by employer; employer is soleli responsible for posting. Employer should know that HardHat is just a website which connects employer with employe in safe and secure way.</p>
    <p>If the employer decides to deactivate his/her account or being terminated for any reason all the infromation will be deleated from HardHat which was provided by user. If the employer post's any job which includes sexual activity or any illiagle activity his/her account will be terminated and cannot be able to create account again. </p>
    <p>&nbsp;</p>

    <h3>Terms For Employes:-(Person Looking For Job)</h3>
    <p>The Terms & condition stated below are the basic codes that every person who is associated with HardHat needs to obey. The breach of one or more of these codes may result in serious consequences that may be anywhere between termination of the account pressing criminal charges.</p>

    <p>all the information provides should be authentic. Thus includes but is not limited to the doccuments, addresses, work history, criminal records and refrals.</p>

    <p>Fellow user should be awar that reviews and ratings on their accounts only develop after a certain ammount of work is doneare made after the work is done so they should be careful and should have possitive attitude.</p>

</section>
<!--/#terms-->
