@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Privacy Policy</h1>                
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/">Home</a></li>                    
                    <li class="active">Privacy Policy</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/#title-->

<section id="privacy-policy" class="container">
    <h3>Introduction</h3>
    <p>HardyHat makes sure that all the doccuments provided by the user are safe and secured. Our Privacy Policy will describe how safe your doccuments will be. After giving describle information to our website if user thinks its note safe we will make sure all the doccuments provided will be removed from our website. </p>

    <p>&nbsp;</p>

    <h3>Types of information we collect</h3>
    <p>Users information collected on our website are stored in Canada; therefore all the rules will be applicable accoarding to the Canadian government.</p>

    <p>&nbsp;</p>

    <h3>Use of Information</h3>
    <p>HardyHat will be collecting following infromation listed below:-</p>
    <ul>
        <li> Our website will need 2 government issued id. </li>
        <li> Police Verification </li>
        <li> Your full name and adress as mentioned on your government issued id. </li>
        <li> Doccuments given should be scaned and uploaded in pdf. file. </li>
        <li> You may also require your cradit card or debit card information for the payment. </li>        
    </ul>

    <p>You can also rate and comments on the user after the work is done which will be helpful for fellow users in order to make an informed decission.</p>

    <p>&nbsp;</p>
    <h3>Contact information</h3>
    <p> If you have any questions about this Privacy Policy, please contact us at <strong><i>krunal.parmar70@live.com</i></strong>. We will try to response you as early as possible via phone call or email.  </p>
    <p>&nbsp;</p>
</section>
<!--/#privacy-policy-->

